@import "../style/variables.scss";
@import "../style/theme.scss";

.btn {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: map-get($transition, "ease");
  box-shadow: map-get($shadow, "tight");
}

.btn.primary {
  @include themify($themes) {
    background-color: themed("button_color");
    color: themed("button_textcolor");
    &:hover {
      background-color: themed("button_hover");
      color: themed("button_hover_textcolor");
    }
    &:active {
      background-color: themed("button_active");
      color: themed("button_hover_textcolor");
    }
  }
}
