@import "../../style/theme";

.input {
    width: 100%;
    margin-bottom: 1.5rem !important;
}

.iconInput {
    cursor: pointer;
    @include themify($themes) {
        fill: themed("text_dim");
        &:hover {
            fill: themed("text_color");
        }
    }
}
