@import "../../style/responsive.scss";
@import "../../style/variables.scss";
@import "../../style/theme.scss";

$mutedColor: map-get($global, "muted");
.blankCard {
  border-style: solid;
  border-width: 1px;
  border-radius: $button_border_radius;
  border-color: $mutedColor;
  box-shadow: 0 0 10px 0 $mutedColor;

  padding: 0.5rem;
  transition: map-get($transition, "ease");
  @include themify($themes) {
    color: themed("text_color");
  }
}
.blankCard.active {
  @include themify($themes) {
    border-color: themed("root");
    box-shadow: 0 0 10px 0 themed("root");
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeAnim {
  animation: fadeIn 0.4s ease;
}

.funcard {
  border-radius: $card_border_radius;
  border-width: 0.15rem;
  border-style: solid;
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-color: map-get($global, "muted");
  transition: map-get($transition, "ease");

  i {
    font-size: 2.5rem;
    @include themify($themes) {
      color: themed("root");
    }
  }
  h2 {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 1rem 0;
    @include themify($themes) {
      color: themed("text_color");
    }
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    @include themify($themes) {
      color: themed("text_dim");
    }
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  }
}

.borderlessCard {
  display: flex;
  i {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2rem;
    margin-left: 0.3rem;
    font-size: 2rem;
    min-width: 2rem;
    @include themify($themes) {
      color: themed("root");
    }
  }
  h2 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    @include themify($themes) {
      color: themed("text_color");
    }
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    @include themify($themes) {
      color: themed("text_dim");
    }
  }
}

.resumecard {
  .date {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px;

    font-size: 12px;
    font-weight: 500;
    line-height: 23px;

    border-radius: $card_border_radius;
    border-width: 0.15rem;
    border-style: solid;

    @include themify($themes) {
      border-color: themed("root");
    }
  }
  .place {
    display: inline-block;
    color: #666;
    opacity: 0.7;
    margin-left: 7px;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
  }
  .title {
    margin: 0.5rem 0 0.5rem 2rem;
  }
  .description {
    margin: 0 0 2rem 2rem;
    margin-bottom: 2rem;
  }
}

.skillcard {
  .title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
    h1 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 2px;
    }
    p {
      margin-left: auto;
      font-size: 12px;
      margin-bottom: 0;
      color: map-get($global, "dim");
    }
  }
  .percentage {
    padding: 3px;
    // border: 1px solid black;
    border-style: solid;
    border-color: map-get($global, "muted");
    border-width: 2px;
    border-radius: 1rem;
    & > div {
      height: 5px;
      border-radius: 1rem;
      @include themify($themes) {
        background-color: themed("primary");
      }
    }
  }
}

.directories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  @include media(desktop) {
    padding: 0 0.5rem;
    width: 50%;
  }

  .directory {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    @include media(desktop) {
      margin-bottom: 1rem;
    }
  }
}
