@import "../../style/variables.scss";
@import "../../style//theme.scss";

.button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: map-get($transition, "ease_in_out");
  border: 1px solid transparent;
  background-color: transparent;

  svg {
    color: white;
  }
}
