@import "../../style/theme";

.parserWrapper {
  @include themify($themes) {
    color: themed("text_color");
  }
}

.parserError {
  font-size: 0.9em;
  padding: 0.7rem;
  background-color: map-get($global, "danger");
  color: map-get($global, "light");
}

.heading {
  margin: 1rem 0;
  font-size: 28px;
  font-weight: normal;
}

.infobar {
  display: flex;
  @include themify($themes) {
    background-color: lighten(themed("primary"), 50);
  }

  .text {
    text-align: justify;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    @include themify($themes) {
      color: themed("text_color");
    }
  }

  .verticalbar {
    width: 0.4rem;
    @include themify($themes) {
      background-color: themed("primary");
    }
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.6rem;
    position: relative;
    border-radius: 48px;
    @include themify($themes) {
      background-color: themed("primary");
    }
    svg {
      width: 40px;
      height: 40px;
      color: white;
    }
  }
}

.precode {
  $precodeBG: #e0eeff;
  $precodeShadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.4);
  margin: 5px;

  .labelClear {
    padding-top: 7px;
    overflow-y: clip;
  }

  .label {
    position: relative;
    z-index: 3;
    font-weight: bold;
    padding: 0.5em;
    background-color: $precodeBG;
    box-shadow: $precodeShadow;
    overflow: hidden;
    color: #595959;
    width: fit-content;
    margin-bottom: 0px;
    @include themify($themes) {
      border-bottom: 3px solid themed("primary");
    }
  }

  .codeblock {
    border-radius: 0.5rem;
    background-color: $precodeBG;
    box-shadow: $precodeShadow;
    code {
      font-family: "Fira Code", monospace;
      display: block;
      letter-spacing: normal;
      padding: 0.5em;
      color: #383a42;
      margin-bottom: 0px;
    }
  }
}
